@cosmos-ui:registry=https://sonatype.nexus.acceldata.tech/repository/cosmos-ui-react/
email=aloksahoo@acceldata.io
//sonatype.nexus.acceldata.tech/repository/cosmos-ui-react/:_auth=YWxva3NhaG9vQGFjY2VsZGF0YS5pbzpBbG9rQHNvbmF0eXBlMQ==

@fern-fs:registry=https://sonatype.nexus.acceldata.tech/repository/fern-fs-adapter/
email=aloksahoo@acceldata.io
//sonatype.nexus.acceldata.tech/repository/fern-fs-adapter/:_auth=YWxva3NhaG9vQGFjY2VsZGF0YS5pbzpBbG9rQHNvbmF0eXBlMQ==
